<!DOCTYPE html>
<html>
    <head>

        <title> To do list, bitch</title>

        <link rel="stylesheet" href="../static/style.css">

    </head>

    <body>

        


        



        <div class="container1">

            {% block page_title %}
            
            {% endblock %}

            

            
            <a href="{{url_for('register')}}">
                <button class="register"> Register </button>
            </a>


            <a href="{{url_for('login')}}">
                <button class="login"> Log-in </button>
            </a>


            <a href="{{url_for('logout')}}">
                <button class="add"> Log out </button>
            </a>


            <a href="{{url_for('addlist')}}">
                <button class="add"> Add to do </button>
            </a>
        

            <a href="{{url_for('showlist')}}">
                <button class="show"> Show all to do </button>
            </a>
            

            <a href="{{url_for('homepage')}}">
                <button class="home"> Home </button>
            </a>
            
        </div>
        
        {% block content %}


        {% endblock %}


    </body>





</html>